[submodule "msdatademopaasgraph"]
	path = msdatademopaasgraph
	url = https://github.com/nubomedia/msdatademopaasgraph
[submodule "arfilterdemopaas"]
	path = arfilterdemopaas
	url = https://github.com/nubomedia/arfilterdemopaas
[submodule "nubomedia-magic-mirror"]
	path = nubomedia-magic-mirror
	url = https://github.com/nubomedia/nubomedia-magic-mirror
[submodule "nubomedia-art"]
	path = nubomedia-art
	url = https://github.com/nubomedia/nubomedia-art
