[submodule "msdatademopaasgraph"]
	path = msdatademopaasgraph
	url = https://github.com/nubomedia/msdatademopaasgraph
[submodule "arfilterdemopaas"]
	path = arfilterdemopaas
	url = https://github.com/nubomedia/arfilterdemopaas
[submodule "nubomedia-magic-mirror"]
	path = nubomedia-magic-mirror
	url = https://github.com/nubomedia/nubomedia-magic-mirror
[submodule "nubomedia-art"]
	path = nubomedia-art
	url = https://github.com/nubomedia/nubomedia-art
[submodule "nubomedia-design"]
	path = nubomedia-design
	url = https://github.com/nubomedia/nubomedia-design
[submodule "nubomedia-ouatservice-pre"]
	path = nubomedia-ouatservice-pre
	url = https://github.com/nubomedia/nubomedia-ouatservice-pre
[submodule "nubomedia-ouatservice-dev"]
	path = nubomedia-ouatservice-dev
	url = https://github.com/nubomedia/nubomedia-ouatservice-dev
[submodule "nubomedia-ouatservice"]
	path = nubomedia-ouatservice
	url = https://github.com/nubomedia/nubomedia-ouatservice
[submodule "nubomedia-kurento-health-communicator-android"]
	path = nubomedia-kurento-health-communicator-android
	url = https://github.com/nubomedia/nubomedia-kurento-health-communicator-android
[submodule "nubomedia-kurento-health-communicator-ios"]
	path = nubomedia-kurento-health-communicator-ios
	url = https://github.com/nubomedia/nubomedia-kurento-health-communicator-ios
[submodule "nubomedia-kurento-health-communicator-server"]
	path = nubomedia-kurento-health-communicator-server
	url = https://github.com/nubomedia/nubomedia-kurento-health-communicator-server
